[submodule "deps/js"]
	path = deps/js
	url = https://github.com/20k/cpp_binmat_sim
[submodule "deps/4space_server"]
	path = deps/4space_server
	url = https://github.com/20k/4space_server
[submodule "deps/serialise"]
	path = deps/serialise
	url = https://github.com/20k/funserialisation
[submodule "deps/libncclient"]
	path = deps/libncclient
	url = https://github.com/20k/libncclient.git
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir
[submodule "deps/duktape"]
	path = deps/duktape
	url = https://github.com/svaarala/duktape
[submodule "deps/networking"]
	path = deps/networking
	url = https://github.com/20k/clientservernetworking
[submodule "deps/ndb"]
	path = deps/ndb
	url = https://github.com/20k/ndb
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/20k/quickjs
[submodule "deps/toolkit"]
	path = deps/toolkit
	url = https://github.com/20k/JGameToolkit
