[submodule "deps/js"]
	path = deps/js
	url = https://github.com/20k/cpp_binmat_sim
[submodule "deps/4space_server"]
	path = deps/4space_server
	url = https://github.com/20k/4space_server
[submodule "deps/serialise"]
	path = deps/serialise
	url = https://github.com/20k/funserialisation
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
